@page "/"
@attribute [Authorize]
@*
<MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-4">Dashboard</MudText>*@

<MudGrid>
    <MudItem xs="12" sm="4">
        <MudPaper  Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.Functions" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Total KOMs</MudText>
                <MudText Typo="Typo.h5">600</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="4">
        <MudPaper  Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.Add" Color="Color.Success" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1"><MudTooltip Text="In last 30 days">New KOMs</MudTooltip></MudText>
                <MudText Typo="Typo.h5">10</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="4">
        <MudPaper  Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.Remove" Color="Color.Error" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1"><MudTooltip Text="In last 30 days">Lost KOMs</MudTooltip></MudText>
                <MudText Typo="Typo.h5">5</MudText>
            </div>
        </MudPaper>
    </MudItem>
</MudGrid>