@page "/map"
@using KomTracker.WEB.Helpers
@attribute [Authorize]

@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <div class="map-wrapper">
        <Map @ref="_mapRef" MapOptions="@_mapOptions"></Map>
    </div>
}