@page "/map"
@using KomTracker.WEB.Helpers
@attribute [Authorize]

@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <div class="map-wrapper map-koms">
        @if (!_polylinesLoaded)
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Style="position: relative; z-index: 9999" />
        }        
        <Map @ref="_mapRef" MapOptions="@_mapOptions" ></Map>
    </div>
}