<div class="full-page-loading">
    <div class="animation"></div>
    <div class="animation" style="animation-direction:alternate-reverse;animation-duration:4s;"></div>
    <div class="animation" style="animation-duration:5s;"></div>
</div>