@inherits LayoutComponentBase


<MudThemeProvider Theme="MyCustomTheme" />
<MudSnackbarProvider />

<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 100vh;">
    <div class="d-flex flex-column mud-width-full">
        <MudPaper Elevation="25" Class="pa-8" Width="100%" MaxWidth="500px">
            <div class="d-flex justify-center">
                <img src="/img/kom-tracker-logo.png" alt="logo" style="width:200px; height:200px;" />
            </div>
            @Body
        </MudPaper>
    </div>
</MudContainer>

@code {
    MudTheme MyCustomTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Primary = new MudBlazor.Utilities.MudColor("#FC4C02"),
        }
    };
}