@page "/login"
@layout EmptyLayout
@inject NavigationManager Navigation

<AuthorizeView>
    <NotAuthorized>
        <MudThemeProvider Theme="MyCustomTheme" />
        <MudSnackbarProvider />

        <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 100vh;">
            <div class="d-flex flex-column mud-width-full">
                <MudPaper Elevation="25" Class="pa-8" Width="100%" MaxWidth="500px">
                    <div class="d-flex justify-center">
                        <img src="img/kom-tracker-logo.png" alt="logo" style="width:200px; height:200px;" />
                    </div>
                    <MudList Clickable="false" Class="mb-5">
                        <MudListItem Text="Uh oh all the way!" Icon="@Icons.Material.Filled.NotificationsActive" />
                        <MudListItem Text="Track your's KOMs" Icon="@Icons.Material.Filled.ShowChart" />
                        <MudListItem Text="Rankings" Icon="@Icons.Material.Filled.MilitaryTech" />
                        <MudListItem Text="Fight with your's friends" Icon="@Icons.Material.Filled.SportsKabaddi" />
                    </MudList>

                    <div class="d-flex justify-center">
                        <a @onclick="Authenticate"><img src="img/btn_strava_connectwith_orange.svg" alt="" /></a>
                    </div>
                    <div class="d-flex justify-center">
                        <MudCheckBox T="bool" Label="Remember me?" Color="Color.Primary" Class="ml-n1"></MudCheckBox>
                    </div>
                </MudPaper>
            </div>
        </MudContainer>
    </NotAuthorized>
    <Authorized>
        <RedirectToHomePage />
   </Authorized>
</AuthorizeView> 

@code {
    MudTheme MyCustomTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Primary = new MudBlazor.Utilities.MudColor("#FC4C02"),
        }
    };

    private async Task Authenticate(MouseEventArgs args)
    {
        Navigation.NavigateTo($"authentication/login?returnUrl={Uri.EscapeDataString(Navigation.BaseUri)}");
    }
}