@page "/login"
@layout EmptyLayout
@inject NavigationManager Navigation
@using KomTracker.WEB.Settings;

<AuthorizeView>
    <NotAuthorized>
        <MudThemeProvider Theme="Theme.DefaultTheme" />
        <MudSnackbarProvider />

        <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 100vh;">
            <div class="d-flex flex-column mud-width-full">
                <MudPaper Elevation="25" Class="pa-8" Width="100%" MaxWidth="500px">
                    <div class="d-flex justify-center">
                        <img src="img/kom-tracker-logo.png" alt="logo" style="width:200px; height:200px;" />
                    </div>
                    <MudList Clickable="false" Class="mb-5">
                        <MudListItem Text="Uh oh all the way!" Icon="@Icons.Material.Filled.NotificationsActive" />
                        <MudListItem Text="Track your's KOMs" Icon="@Icons.Material.Filled.ShowChart" />
                        <MudListItem Text="Rankings" Icon="@Icons.Material.Filled.MilitaryTech" />
                        <MudListItem Text="Fight with your's friends" Icon="@Icons.Material.Filled.SportsKabaddi" />
                    </MudList>

                    <div class="d-flex justify-center">
                        <a @onclick="Authenticate" style="cursor: pointer;"><img src="img/btn_strava_connectwith_orange.svg" alt="" /></a>
                    </div>
                    @* TODO: I don't know yet how to pass this to identity (call is done by RemoteAuthenticatorView)'
                        <div class="d-flex justify-center">
                        <MudCheckBox T="bool" Label="Remember me?" Color="Color.Primary" Class="ml-n1"></MudCheckBox>

                    </div>*@
                </MudPaper>
            </div>
        </MudContainer>
    </NotAuthorized>
    <Authorized>
        <RedirectToHomePage />
   </Authorized>
</AuthorizeView> 

@code {
    private async Task Authenticate(MouseEventArgs args)
    {
        Navigation.NavigateTo($"authentication/login?returnUrl={Uri.EscapeDataString(Navigation.BaseUri)}");
    }
}