.climb-category {
    color: #fff;
    border-radius: 13px;
    width: 65px;
    height: 26px;
    padding-left: 9px;
    padding-right: 9px;
}

.climb-category > span {
    width: 20px;
    text-align: center
}

.map-wrapper {
    min-height: 400px;
    position: relative;
}

/* Fill map to full page height
* 32px - margin top and bottom
* 64px - mud-toolbar (bread crumbs etc. visible from md)
*/
@media (min-width: 0px) {
    .map-wrapper {
        height: calc(100vh - (var(--mud-appbar-height) - var(--mud-appbar-height)/8) - 32px);
    }
}

@media (min-width: 600px) {
    .map-wrapper {
        height: calc(100vh - var(--mud-appbar-height) - 32px);
    }
}

@media (min-width: 960px) {
    .map-wrapper {
        height: calc(100vh - var(--mud-appbar-height) - 64px - 32px);
    }
}

#mapId {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: var(--border-radius-base) !important;
}

.map-koms {

}

.map-koms .leaflet-popup-content-wrapper,
.map-koms .leaflet-tooltip{
    border-radius: 0;
}

.map-koms .general-info {

}

.map-koms .general-info .stat {
    line-height: 0.75;
}

.map-koms .general-info .stat .label {
    font-size: 8px;
    color: #979797;
    text-transform: uppercase;
}